@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #020617;
  }
}

@layer components {
  .glass-panel {
    @apply bg-slate-900/70 border border-slate-800 rounded-2xl shadow-glow;
  }
}
